@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600,600italic,700italic,800,800italic,300italic,300&subset=latin,latin-ext);

body
{
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 10pt;
  margin: 6pt;
  padding: 6pt;
  background: white;
  color: #202021;
}

.rgb
{
  font-size: 8pt;
  font-weight: bolder;
  color: black;
}

table.nb th,
table.nb td
{
  border-style: none;
}

td.l, th.l
{
  text-align: left;
}

td.r, th.r
{
  text-align: right;
}

td.c, th.c
{
  text-align: center;
}

td.t, th.t
{
  vertical-align: top;
}

td.b, th.b
{
  vertical-align: bottom;
}

td.p, th.p
{
  padding-left: 6pt;
  padding-right: 6pt;
}

.tbl
{
  display: table;
}

.mt
{
  margin-top: 0.8em;
}

.row
{
  display: table-row;
}

.cell
{
  display: table-cell;
  vertical-align: top;
  padding: 0 1em 1.5em 0;
}
